*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--main-blue);
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
:root {
    --main-blue: #3347B0;
    --terciary-color: #E5B657;
}